.container {
  display: flex;
  background-color: #78bd34;
  width: 200vh;
  margin: 2vh auto;
}
.content-input {
  height:85vh;
  width: 200vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 2vh auto;
  .container:first-child {
    background-color: aquamarine;
    color: black;
  }
  .container:nth-child(2n+3) {
    background-color: aquamarine;
    color: black
  }
}
.van-tiep {
  display: block;
  margin: -21px auto;
  margin-top: 0;
  background: red;
  color: white;
  font-size: 20px;
  border: none;
  height: 30px;
  width: 100px;
  text-align: center;
}
.col-5 {
  display: block;
  width: 36vh;
  margin: auto;
  .input-name {
    width: 23vh;
  }
}