<div class="content">
  <div class="container">
    <p style="margin: auto 2vh;">Người chơi:</p>
    <div class="col-5" *ngFor="let game of player; let i = index">
      <input class="input-name" id="{{i}}" type="text"[disabled]="vongChoiCu > 0 ? true : false"> {{game.tong}} điểm
    </div>
  </div>
  <button class="van-tiep" (click)="vanTiep()">Ván tiếp</button>
  <div class="content-input">
    <div class="container" *ngFor="let vong_choi of times">
      <p style="margin: auto 4vh;"> Vòng {{vong_choi > 9 ? vong_choi : '0' + vong_choi}}: </p>
      <div class="col-5" *ngFor="let game of player; let nguoi_choi = index">
        <input class="input-name" (blur)="sumPoint($event, vong_choi, nguoi_choi)"
        (keyup)="checkKey($event.keyCode)"
          id='point{{vong_choi}}' [disabled]="vong_choi - times.length < 0 ? true : false" type="number">
      </div>
    </div>
  </div>
</div>